PORT=4000
CORS_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=contratos_publicos

SCRAPER_PROFILE_NAME=Junta de Gobierno del Ayuntamiento de Marbella
SCRAPER_HEADLESS=shell
SCRAPER_USER_DATA_DIR=./tmp
SCRAPER_COOKIES_PATH=./cookies.json

SCRAPER_CRON=0 */6 * * *
SCRAPER_AUTORUN=true
